block config
    include ../config/config

doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="content=width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title #{projectTitle} | #{pageTitle}
        link(rel="stylesheet" href="./css/" + cssFile)
    body

        block challenge