extends template/template

block challenge

    main.main
        .form-container
            .form__header
                h1.form__title A
                p.form__description Accede a la mejor comunidad de diseño

            .form__main
                form.form__form(method="" action="")
                    label(for="login-user").form__label Usuario
                    input(type="text")#login-user.form__input.form__input--text

                    label(for="login-password").form__label Contraseña
                    input(type="password")#login-password.form__input.form__input--text

                    p.form__forgot ¿Has olvidado tu contraseña?
                    a(href="#").link.link--forgot Pulsa aquí

                    .form__footer
                        button(type="button")#register-button.form__button.button.button--secondary Registrarse
                        input(type="submit" value="Acceder").form__button.button.button--primary.button--submit